@import "tailwindcss";

:root {
	--background: #f7f9fc;

	--primary: #155eef;
	--secondary: #071832;
	--dark: #0b1f3a;
	--accent: #38bdf8;
	--text: #172033;
	--muted: #64748b;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
	--color-text: var(--text);
	--color-muted: var(--muted);
	--color-dark: var(--dark);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

body {
	background: var(--background);
	color: var(--text);
}

@layer components {
	.wrapper {
		@apply w-full max-w-7xl mx-auto;
	}
}
